main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section{
    width: 280px;
    background-color: rgb(182, 187, 211);
    padding: 4px 12px;
    border: 6px;
    margin: 8px;
}
h2{
    position: relative;
    padding-bottom: 10px;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Positions the line at the bottom */
    width: 100%; /* Line spans the full width of the h2 */
    height: 1px; /* Thickness of the line */
    background-color: black; /* Color of the line */
}

header, footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 24px;
    font-size: large;
}

img{
    width: 300px;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.7);
}